.singer-category {
  overflow-x: scroll;
  width: 100%;
  .category-list {
    display: flex;
    margin-bottom: .1rem;
    .category-item {
      flex: 0 0 auto;
      padding: 0 .3rem;
      line-height: .56rem;
      border-radius: 4px;
      color: #fff;

      &.active {
        background: rgba(119, 100, 230, 0.3);
        color: #ffcd32;
      }
    }
  }
}
