#Topbar {
  height: 0.8rem;
  line-height: 0.8rem;
  position: fixed;
  top: 0.8rem;
  left: 0;
  width: 100%;
  justify-content: space-around;
  background-color: #222;
  a {
    color: #fff;
    display: inline-block;
    font-size: 0.32rem;
    width: 25%;
    text-align: center;
    position: relative;
    cursor: pointer;
  }
  .active {
    color: #31c27c;
    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0px;
      left: 0;
      right: 0;
      height: 3px;
      background: #31c27c;
    }
  }
}
